.archive_sorting {
//    background-image: url(images/inventory_background2.jpg);
//    background-repeat: no-repeat;
//    background-size: cover;
//    background-position: center;
//    filter: brightness(0.5);
//    filter: blur(20px);
//    transform: scale(1.4);
//    overflow: hidden;
    z-index: 2;
    bottom: 1em;
    position: absolute;
    left: 0;
    right: 0;
}

.archive_sorting p {
    margin: 0;
    padding: 0;
    color: white;
}

.archive_sorting a {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 175px;
    border: 2px solid white;
    line-height: 40px;
    transition: 0.3s;
    color: white;
    text-decoration: none;
    font-family: $font_heading;
}

.archive_sorting a:hover {
    background-color: white;
    color: $color_font-nav-hover;
    transition: 0.3s;
}


.aircraft_tile {
    width: 100%;
    height: 75vw;
    max-height: 480px;
}

.aircraft_tile img {
    height: 100%;
    width: 100%;
    object-position: center;
    object-fit: cover;
    display: block;
    filter: grayscale(0) blur(0);
    transition: 0.5s ease-in-out;
}

.aircraft_tile:hover img,
.aircraft_tile:focus img,
.aircraft_tile:active img {
    filter: grayscale(60%) blur(1px);
    transform: scale(1.1);
    transition: 5s ease-out;
}

.aircraft_tile a {
//    display: block;
//    position: absolute;
//    top: 0;
//    color: white;
//    font-family: $font_heading;
//    text-align: center;
//    text-decoration: none;
//    margin: 0;
//    padding: 0;
//    height: 100%;
//    width: 100%;
}

.aircraft_tile h3 {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 5%;
    left: 0;
    right: 0;
    color: white;
    font-family: $font_heading;
    text-align: center;
    text-decoration: none;
}

.read_more {
    position: absolute;
    bottom: 5%;
    left: 0;
    right: 0;
    border: 2px solid white;
    width: 120px;
    margin: 0 auto;
    color: white;
    font-family: $font_heading;
    text-align: center;
    text-decoration: none;
    line-height: 40px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s, opacity 0.3s;
    transition: 0.3s;
}

.read_more:hover,
.read_more:focus,
.read_more:active {
    color: $color_font-nav-hover;
    background-color: white;
    transition: 0.3s;
}

.tile_overlay {
    margin: 50px 5px;
    padding: 0;
    position: absolute;
    display: block;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    line-height: 30px;
    background-color: rgba(0,0,0,0.3);
    visibility: hidden;
    opacity: 0;
    transition: visibility 1s, opacity 1s;
}

.aircraft_tile:hover .tile_overlay,
.aircraft_tile:focus .tile_overlay {
    visibility: visible;
    opacity: 1;
    animation-name: overlay-transition;
    animation-duration: 0.3s;
    animation-timing-function: ease-in-out;
}

@keyframes overlay-transition {
    0% {
        top: 100%;        
    }
    100% {
        top: 0;
    }
}

.aircraft_tile:hover .read_more,
.aircraft_tile:focus .read_more,
.aircraft_tile:active .read_more {
    visibility: visible;
    opacity: 1;
    transform: translateY(-10px);
}

.aircraft_tiles {
    padding-top: 40px;
    background-color: black;
}

.aircraft_list {
    margin: 0;
    padding: 10px 10px 1px 10px;
    list-style-type: none;
    height: 100%;
}

.aircraft_list li {
    overflow: hidden;
    position: relative;
    margin: 10px 0;
}

@media screen and (min-width: 450px) {
    .aircraft_tile h3 {
        top: 18%;
        font-size: 1.6em;
    }
}


@media screen and (min-width: 600px) {
    #projects_page_header h1,
    #inventory_page_header h1 {
        font-size: 4.3em;
    }
}

@media screen and (min-width: 700px) {
    .aircraft_tile h3 {
        font-size: 1.8em;
    }
    
    .tile_overlay {
        margin: 50px 10px;
    }
}

@media screen and (min-width: 960px) {
    #projects_page_header h1,
    #inventory_page_header h1 {
        font-size: 5.3em;
    }
    
    .aircraft_list {
        padding: 10px 20px 1px 20px;
    }
    
    .aircraft_list li {
        margin: 20px 0;
    }
}

@supports (grid-area: auto) {
    
    @media screen and (min-width: 960px) {
        .aircraft_list {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 10px;
            padding: 10px;
        }
        
        .aircraft_tile {
            height: 38vw;
        }
        
        .aircraft_list li {
            margin: 0;
        }
        
        .tile_overlay {
            margin: 50px 10px;
//            width: 100%;
        }
        
    }
    
    @media screen and (min-width: 1400px) {
        .aircraft_list {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
        }

        .aircraft_tile {
            height: 24vw;
        }
    }
}