#news_page_header {
    background-image: url($image_news_default);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#single_news_page_header_nothumb {
    background-image: url($image_news_default);
}

.news_post_header {
    height: 30vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(3px);
    transform: scale(1.2);    
}

#news_page_main_wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 40px 10px;
    background-color: $color_background_main;
}

.article_listings_wrapper {
    width: 100%;
}

.article_listings_wrapper article {
    display: flex;
    position: relative;
    margin-bottom: 50px;
    background-color: white;
}

.article_side {
    position: relative;
    width: 125px;
    flex-shrink: 0;
    font-family: $font_logo;
    color: $color_font-medium-text;
    line-height: 1em;
    background-color: $color_dark-backgrounds;
    overflow: hidden;
    display: none;
}

.article_side p {
    position: absolute;
    top: 360px;
    left: -208px;
    min-width: 540px;
    margin: 0;
    transform: rotate(-90deg);
    font-size: 3em;
}

#article_side_no_thumb {
    top: 25px;
}

.article_media {
//    width: 100%;
//    height: 425px;
}

.article_media img {
//    height: 100%;
//    width: 100%;
//    object-fit: cover;
//    object-position: center;
}

.article_excerpt_title {
    width: 100%;
//    margin-top: 20px;
    padding: 30px 10px;
    background-color: white;
}

.article_excerpt_title h2 {
    margin: 0;
    line-height: 1.5rem;
}

.article_excerpt_title h2 a {
    font-size: 1.5em;
    line-height: 1.5rem;
    font-weight: 900;
    color: $color_font-nav-hover;
    font-family: $font_heading;
    text-decoration: none;
    transition: 0.2s;
}

.article_excerpt_title h2 a:hover,
.article_excerpt_title h2 a:focus {
    color: $color_font-dark-text;
    transition: 0.2s;
}

.news_article_content {
    padding: 0px 20px 25px;
    font-family: $font_text;
    font-size: $font_text_size_mobile;
    background-color: white;
}

.article_content figure {
    width: auto !important;
}

.article_excerpt {
    font-family: $font_text;
    font-size: $font_text_size_mobile;
}

.article_excerpt p {
    margin-top: 0;
}

.article_footer {
    display: block;
    border-top: 2px solid $color_background_main;
    min-height: 75px;
    padding: 25px 10px;
    font-family: $font_text;
    color: $color_font-medium-text;
}

//.entry-meta {
//    display: flex;
//}

.article_meta_list {
    min-width: 190px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}



.article_meta_list li,
.article_category_list li {
    display: inline-block;
}

.article_meta_list li {
    margin-right: 20px;
}

.article_category_list li {
    margin-right: 5px;
}

.post-categories {
    display: inline-block;
}

.post-categories a {
    text-decoration: none;
    padding: 3px;
    color: $color_font-nav-hover;
    transition: 0.2s;
}

.post-categories a:hover,
.post-categories a:focus {
    background-color: white;
    color: $color_font-dark-text;
    transition: 0.2s;
}

.article_read_more {
    margin: 0 auto;
    margin-top: 25px;
//    margin-left: auto;
    flex-shrink: 0;
    text-align: center;
    max-width: 175px;
}

.article_read_more a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    font-family: $font_text;
    border: 2px solid $color_dark-backgrounds;
    background-color: $color_dark-backgrounds;
    color: $color_footer-headings;
    transition: 0.2s;
}

.article_read_more a:hover,
.article_read_more a:focus {
    color: $color_font-nav-hover;
    background-color: white;
    border: 2px solid $color_font-nav-hover;
    transition: 0.2s;
}

.sidebar_wrapper {
    width: 100%;
}

.sidebar_wrapper aside {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media screen and (min-width: 400px) {
    .article_footer {
        display: flex;
    }
    
    .article_read_more {
        max-width: auto;
        margin-right: 0;
        margin-top: 0;
    }
}

@media screen and (min-width: 500px) {
    .article_side {
        display: block;
    }
    
    .article_header,
    .article_excerpt_title,
    .news_article_content,
    .article_footer {
        padding-left: 25px;
        padding-right: 25px;
    }
}

@media screen and (min-width: 600px) {
    .article_header,
    .article_excerpt_title,
    .news_article_content,
    .article_footer {
        padding-left: 50px;
        padding-right: 50px;
    }
}


@media screen and (min-width: 960px) {
    #news_page_main_wrapper {
        flex-wrap: nowrap;
        padding: 40px 20px;
    }
    
    .article_listings_wrapper {
        width: 75%;
        margin-right: 25px;
    }
    
    .sidebar_wrapper {
        width: 25%;
        min-width: 260px;
    }
    
    .sidebar_wrapper aside {
        display: block;
    }
    
    .news_article_content,
    .article_excerpt {
        font-size: $font_text_size_desktop;
    }
}

@media screen and (min-width: 1100px) {
    .article_side {
        width: 150px;
    }
    
    .article_side p {
        left: -197px;
    }
    
    .sidebar_wrapper {
        min-width: 300px;
    }
}

@media screen and (min-width: 1300px) {
    #news_page_main_wrapper {
        padding: 40px;
    }
    
    .article_side {
        width: 200px;
    }

    .article_side p {
        left: -165px;
    }
    
    .sidebar_wrapper {
        width: 25%;
        min-width: 375px;
        margin-left: 25px;
    } 
}
