#inventory_page_header {
    background-image:url($image_inventory_small);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: black;
    position: relative;
}

#inventory_page_header h2 {
    bottom: 4em;
}

.inventory {
    min-height: 100vh;
    background-color: black;
}

.projects {
    min-height: 100vh;
}

.inventory_title, .projects_title {
    text-align: center;
    width: 100%;
    height: 100px;
    font-family: $font_heading;
    color: white;
    background: -moz-radial-gradient(center, ellipse cover, rgba(1,59,0,1) 0%, rgba(18,28,0,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(1,59,0,1)), color-stop(100%, rgba(18,28,0,1))); /* safari4+,chrome */
    background:-webkit-radial-gradient(center, ellipse cover, rgba(1,59,0,1) 0%, rgba(18,28,0,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-radial-gradient(center, ellipse cover, rgba(1,59,0,1) 0%, rgba(18,28,0,1) 100%); /* opera 11.10+ */
    background: -ms-radial-gradient(center, ellipse cover, rgba(1,59,0,1) 0%, rgba(18,28,0,1) 100%); /* ie10+ */
    background:radial-gradient(ellipse at center, rgba(1,59,0,1) 0%, rgba(18,28,0,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#013B00', endColorstr='#121C00',GradientType=1 ); /* ie6-9 */
}

.section_title h2 {
    margin: 0;
    line-height: 100px;
}

@media screen and (min-width: 500px) {
    #inventory_page_header {
        background-image: url($image_inventory_medium);
    }
}

@media screen and (min-width: 960px) {
    #inventory_page_header {
        background-image: url($image_inventory_default);
        background-position: top;
    }  
}

////////////Inventory Listing////////////////

.inventory_listing {
    position: relative;
    display: flex;
    height: 200px;
    overflow: hidden;
    margin-bottom: 5px;
    
    .article_excerpt_title {
        padding: 10px 25px 10px 45px;
        border-bottom: 2px solid $color_background_main;
        position: relative;
        z-index: 2;
        
        .entry-title {
            text-align: right;
            
            a {
                font-size: 25px;
            }
        }
    }
}

.list_item_image {
    width: 40%;
    
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}

.list_item_info {
    position: relative;
    width: 60%;
    border-top: 5px solid $color_dark-backgrounds;
    background-color: white;
    
    p {
        margin: 0;
    }
}

.list_item_overlay {
    background-color: $color_dark-backgrounds;
    position: absolute;
    width: 307px;
    height: 40px;
    transform-origin: top left;
    transform: rotate(107deg) translateX(-45px) translateY(-37px);
    border-bottom: 5px solid $color_background_main;
    z-index: 4;
}
.list_item_overlay2 {
    background-color: white;
    position: absolute;
    width: 220px;
    height: 40px;
    transform-origin: top left;
    transform: rotate(107deg) translateX(-11px) translateY(-76px);
    z-index: 1;
}

.list_item_pitch {
    position: relative;
    z-index: 2;
    padding: 5px 25px 0 40px;
    font-size: 14px;
    text-align: right;
}

.list_item_serial_reg {
    position: relative;
    display: flex;
    z-index: 2;
}

.list_item_footer {
    display: flex;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 105%;
    height: 50px;
    padding: 4px 10px 4px 25px;
    border-top: 2px solid $color_background_main;
    background-color: white;
    z-index: 2;
    
    .article_read_more a {
        padding: 5px 15px;
    }
}

.list_item_meta {
    flex-grow: 100;
    padding-top: 5px;
}

.list_item_status {
    color: $color_font-dark-text;
    font-size: 19px;
    text-align: center;
}

.price_reduced,
.new_listing {
    color: red;
}

@media screen and (max-width: 1400px) {
    .inventory_listing .article_excerpt_title .entry-title a {
        font-size: 23px;
    }
}

@media screen and (max-width: 680px) {
    .inventory_listing {
        height: auto;
        flex-wrap: wrap;
        margin-bottom: 20px;
    }
    
    .list_item_image {
        width: 100%;
        height: 250px;
        margin-bottom: 5px;
    }
    
    .list_item_info {
        width: 100%;
        border: none;
        z-index: 5;
    }
    
    .list_item_overlay {
        width: 600px;
        height: 300px;
        transform-origin: bottom left;
        transform: rotate(-73deg) translateX(30px) translateY(-66px);
        border: none;
    }
    
    .list_item_overlay2 {
        width: 600px;
        transform-origin: bottom left;
        z-index: 2;
        transform: rotate(-73deg) translateX(-150px) translateY(16px);
    }
    
    .inventory_listing .article_excerpt_title {
        z-index: 5;
        border-top: 5px solid #5E5E5E;
        background-color: white;
    }
    
    .inventory_listing .article_excerpt_title .entry-title {
        text-align: left;
    }
    
    .list_item_pitch {
        z-index: 5;
        padding: 5px 25px 5px 45px;
        text-align: left;
        background-color: white;
    }
    
    .list_item_footer {
        position: relative;
        height: auto;
        width: 100%;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 600px) {
    .list_item_footer {
        padding-left: 45px;
    }
    
    .list_item_status {
        text-align: left;
    }
    
    .list_item_footer .article_read_more {
        margin-top: 0;
    }
}

@media screen and (max-width: 400px) {
    .inventory_listing .article_excerpt_title {
        padding: 10px 20px;
    }
    
    .list_item_pitch {
        padding: 5px 20px;
    }
    
    .list_item_footer {
        padding: 5px 20px;
    }
    
    .list_item_status {
        font-size: 18px;
    }
}


