.site-footer {
    text-align: center;
    padding-top: 22px;
    color: white;
    background-color: $color_footer-background;
}

.footer_wrapper {
    max-width: 1400px;
    margin: 0 auto;
}

.footer_heading {
    font-family: $font_heading;
    font-size: 1.1em;
    color: $color_footer-headings;
    margin: 0.6em 0;
}

.site-footer ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    line-height: 1;
}

.site-footer a {
    color: $color_footer-text;
    text-decoration: none;
    font-family: $font_text;
    font-size: 0.8em;
    font-weight: lighter;
    transition: 0.2s;
}

.site-footer a:active,
.site-footer a:hover {
    color: $color_footer-link-active;
    transition: 0.2s;
}

.footer_branding {
    font-family: $font_logo;
    font-size: 1.5em;
}

.footer_branding p {
    margin: 0;
    padding: 0;
    font-weight: bold;
    line-height: 1.5;
}

.footer_branding p:first-of-type {
    font-size: 1em;
}

.footer_branding p:nth-of-type(2) {
    font-size: 0.8em;
    margin-top: -12px;
}

.footer_contact {
    margin: 20px 0 20px 0;
    padding: 0 20px;
    text-align: left;
    max-width: 320px;
}

.footer_contact h2 {
    font-family: $font_heading;
    font-size: 1.1em;
    color: $color_footer-headings;
    margin: 0.6em 0;
}

.footer_contact p {
    font-family: $font_text;
    font-size: 0.7em;
    font-weight: lighter;
    color: $color_footer-text;
    margin: 0.6em 0;
    padding-right: 25px;
}

.footer_contact ul {
    margin-top: 10px;
}

.footer_contact i {
    font-size: 1.2em;
    margin-right: 3px;
}

.footer_contact li:first-of-type i {
    margin-right: 7px;
}

.footer_contact a {
    line-height: 1.5em;
}

.footer_social {
    margin: 0 auto;
    padding-bottom: 20px;
//    max-width: 300px;
}

.footer_social ul {
    display: flex;
    justify-content: space-between;
    font-size: 2em;
    padding: 10px 20px 0 20px;
    max-width: 300px;
    margin: 0 auto;
}


.footer_copyright p {
    margin: 0;
    padding: 0;
    line-height: 40px;
    color: $color_footer-text;
}

.footer_copyright {
    font-family: $font_text;
    font-size: 0.8em;
    background-color: $color_footer-copyright-background;
    height: 40px;
}

.footer_nav {
    text-align: left;
    margin-bottom: 15px;
    padding: 0 20px;
}

//////////////////////////////////////////
////// Grid and Responsive Styling ///////
//////////////////////////////////////////


@supports (grid-area: auto) {
    
    @media screen and (min-width: 680px) {
        
        .footer_wrapper {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
        }
        
        .footer_branding {
            grid-column: 1/4;
            padding-bottom: 20px;
        }
        
        .footer_line_div {
            grid-column: 1/4;
        }
        
        .footer_line {
            display: block;
            border: none;
            color: white;
            height: 2px;
            background: black;
            background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from($color_header-main-nav-border), to(rgba(255,255,255,0)));
        }
        
        .footer_contact {
            margin: 10px 0 20px 0;
            padding-left: 20px;
            padding-right: 0;
        }
        
        .footer_nav {
            text-align: right;
            margin: 10px 0 20px 0;
            grid-column: 3/4;
        }
        
        .footer_nav ul {
            margin: 0.6em 0;
        }
        
        .footer_social {
            margin: 10px 0 20px 0;
            grid-column: 2/3;
            grid-row: 3/4;
            width: 100%;
        }
        
        .footer_copyright {
            margin-top: 15px;
        }
    }
    
}