.home_screen {
    height: 100vh;
    width: 100vw;
    background-color: aqua;
}

.intro {
    text-align: center;
}

.home_navigation {
    display: flex;
    text-align: center;
}

.home_navigation a {
    display: inline-block;
    width: 33%;
    min-height: 250px;
    margin: 0;
    padding: 0;
    background-color: red;
}


//.home_screen {
//    display: grid;
//}