.home_screen {
    height: 100vh;
    width: 100%;
    background-image: url(images/clouds.jpeg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.intro {
    text-align: center;
    color: white;
    padding: 12vh 10px 0 10px;
}

.intro h1 {
    font-size: 2.5em;
    font-family: $font_logo;   
}

.intro h1:first-of-type {
    font-size: 3em;
    margin-bottom: 0px;
}

.intro h1:nth-of-type(2) {
    margin-top: -27px;
}

.intro h2 {
    font-size: 1em;
    font-family: 'Jura', sans-serif;
    padding: 10px 0;
    font-weight: 900;
    margin-bottom: 90px;
}

.intro p {
    font-family: $font_text;
    font-size: 0.7em;    
}

.home_navigation {
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.home_nav_block {
    display: inline-block;
    width: 33%;
    min-height: 18vh;
    margin: 0;
    background-color: rgba(153, 153, 153, 0.35);
    transition: 0.2s;
    overflow: hidden;
}

.home_navigation a {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    padding-top: 3vh;
    font-family: $font_nav;
    text-decoration: none;
    color: white;
    transition: 0.2s;
    overflow: hidden;
}

.home_navigation i {
    font-size: 2.5em;
    color: rgba(255, 255, 255, 0.5);
    padding-top: 0px;
    transition: 0.2s;
}

.home_nav_block:hover {
//    background-color: rgba(153, 153, 153, 0.6);
    background-color: rgba(18,28,0,0.6);
    transition: 0.2s;
//    padding-top: 3vh;
//    font-size: 1.1em;
}

.home_nav_block:hover a {
//    font-size: 1.1em;
//    padding-top: 0px;
    transition: 0.2s;
}

.home_nav_block:hover i,
.home_nav_block:active i {
    color: rgba(255, 255, 255, 0.8);
    padding-top: 0px;
    transition: 0.2s;
    transform: rotate(270deg);
}

.home_nav_block:hover #envelope,
.home_nav_block:active #envelope {
    transform: rotate(360deg);
}

.home_nav_block:hover #wrench,
.home_nav_block:active #wrench {
    transform: rotate(270deg) scaleX(-1);
    
}

//.tnp-subscription th {
//    display: none;
//}

//.tnp-subscription td {
//    background-color: transparent !important;
//}
//
//.tnp-subscription {
//    background-color: transparent !important;
//}

//.tnp-subscription input{
//    background-color: rgba(153, 153, 153, 0.35) !important;
//    border-radius: 0px;
//    border-color: white;
//}

//.tnp-email {
//    background-color: rgba(153, 153, 153, 0.35) !important;
//    border-radius: 0px !important;
//    height: 40px !important;
//    color: white !important;
//}

//.home_screen {
//    display: grid;
//}


///////// Inventory Section //////////

.inventory {
    min-height: 100vh;
    background-color: black;
}

.projects {
    min-height: 100vh;
}

.inventory_title, .projects_title {
    text-align: center;
    width: 100%;
    height: 100px;
    font-family: $font_heading;
    color: white;
    background: -moz-radial-gradient(center, ellipse cover, rgba(1,59,0,1) 0%, rgba(18,28,0,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(1,59,0,1)), color-stop(100%, rgba(18,28,0,1))); /* safari4+,chrome */
    background:-webkit-radial-gradient(center, ellipse cover, rgba(1,59,0,1) 0%, rgba(18,28,0,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-radial-gradient(center, ellipse cover, rgba(1,59,0,1) 0%, rgba(18,28,0,1) 100%); /* opera 11.10+ */
    background: -ms-radial-gradient(center, ellipse cover, rgba(1,59,0,1) 0%, rgba(18,28,0,1) 100%); /* ie10+ */
    background:radial-gradient(ellipse at center, rgba(1,59,0,1) 0%, rgba(18,28,0,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#013B00', endColorstr='#121C00',GradientType=1 ); /* ie6-9 */
//    background-image: url(images/inventory_background.jpg);  
//    background-position: center;
//    background-size: cover;
//    filter: grayscale(100%);
}

.section_title h2 {
    margin: 0;
    line-height: 100px;
}

.inventory_list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.inventory_list li {
    overflow: hidden;
    position: relative;
}



.aircraft_tile {
    width: 100%;
    height: 60vw;
    max-height: 480px;
}

.aircraft_tile img {
    height: 100%;
    width: 100%;
    object-position: center;
    object-fit: cover;
    display: block;
    filter: grayscale(0) blur(0);
    transition: 0.3s ease-in-out;
}

.aircraft_tile:hover img,
.aircraft_tile:focus img,
.aircraft_tile:active img {
    filter: grayscale(60%) blur(1px);
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
}

.aircraft_tile a {
    display: block;
    position: absolute;
    top: 0;
    color: white;
    font-family: $font_heading;
    text-align: center;
    text-decoration: none;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.aircraft_tile h3 {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 5%;
    left: 0;
    right: 0;
}

.read_more {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    border: 2px solid white;
    width: 120px;
    margin: 0 auto;
    line-height: 40px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s, opacity 0.3s;
    transition: 0.3s;
}

.read_more:hover,
.read_more:focus,
.read_more:active {
    color: black;
    background-color: white;
    transition: 0.3s;
}

.tile_overlay {
    margin: 0;
    padding: 0;
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    line-height: 30px;
    background-color: rgba(0,0,0,0.5);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s, opacity 0.3s;
}

.aircraft_tile:hover span,
.aircraft_tile:focus span,
.aircraft_tile:active span {
    visibility: visible;
    opacity: 1;
}


///////// Projects Section //////////

.projects {
    background-color: black;
    min-height: 100vh;
}

.project_list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.project_list li {
    overflow: hidden;
    position: relative;
}

//////////////////////////////////////////
////// Grid and Responsive Styling ///////
//////////////////////////////////////////

@supports (grid-area: auto) {
    
    @media screen and (min-width: 801px) {
        
        .inventory {
            min-height: auto;
        }

        .projects {
            min-height: auto;
        }
        
        .inventory_list,
        .project_list {
            display: grid;
            grid-template-columns: auto auto;
        }
        
        .aircraft_tile {
            height: 30vw;
        }
    }
    
    @media screen and (min-width: 1024px) {

        .intro h1:first-of-type {
            font-size: 6em;
            margin-bottom: 0px;
        }

        .intro h1:nth-of-type(2) {
            font-size: 5em;
            margin-top: -52px;
        }
        
        .intro h2 {
            font-size: 2em;
        }
//        .inventory_list,
//        .project_list {
//            grid-template-columns: auto auto auto;
//        }
//        
//        .aircraft_tile {
//            height: 10vw;
//        }
        
    }
}


