.site-header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    background-color: $color_header-main-nav-background-hov;
    border-bottom: 2px solid $color_header-main-nav-border;
}

.nav_wrap {
    max-width: 1600px;
    margin: 0 auto;
}

.main-navigation {
    display: flex;
    justify-content: space-between;
    height: 100%;
    padding: 0 5px;
    line-height: 1em;
}

.nav_branding {
    text-align: center;
    font-family: $font_logo;
    line-height: 0.8em;
    padding-top: 5px;   
}

.nav_branding span {
    color: $color_font-logo;
}

.nav_branding span:nth-of-type(2) {
    font-size: 0.85em;
}

.main-navigation li {
    text-align: center;
    height: 100%;
    transition: 0.2s;
    margin: 0 2px;
    padding: 0 3px;
    min-width: 60px;
}

.main-navigation li a {
    color: $color_font-nav;
    font-family: $font_heading;
    height: 100%;
    padding: 3px 2px;
    font-size: 0.9em;    
}

.main-navigation li:hover a {
    color: $color_font-nav-hover;
    transition: 0.2s;
}

.main-navigation li:hover {
    background-color: $color_header-main-nav-link-background-hover;
    transition: 0.2s;
}

.main-navigation svg {
    transition: 0.2s;
}

.main-navigation li:hover svg,
.main-navigation li:active svg {
    color: $color_font-nav-hover;
    padding-top: 0px;
    transition: 0.2s;
    transform: rotate(360deg);
}


.main-navigation li:hover #wrench,
.main-navigation li:active #wrench {
    transform: rotate(270deg) scaleX(-1);
    
}

.main-navigation li:hover #fighterjet,
.main-navigation li:active #fighterjet {
    transform: rotate(270deg);
}

@media screen and (max-width: 850px) {
    .main-navigation li {
        margin: 0;
        padding: 0;
    }
}

@media screen and (max-width: 775px) {
    

    
    .menu-toggle {
        display: block;
        height: 38px;
        padding: 0 12px;
        background-color: transparent;
        border: none;
        border-radius: 0px;
        color: $color_font-nav;
        font-family: $font_logo;
        transition: 0.2s;
    }
    
    .menu-toggle span {
        font-family: fontawesome;
        font-size: 2em;
    }
    
    .menu-toggle:hover,
    .menu-toggle:active {
        color: $color_font-nav-hover;
        background-color: $color_header-main-nav-link-background-hover;
    }
    
    .button-toggled {
        color: $color_font-nav-hover;
        background-color: rgba(255,255,255,0.95);
        transition: 0.2s;
    }
    
    .menu-main-navigation-container {
        position: absolute;
        top: 38px;
        left: 0;
        height: 100vh;
        width: 100vw;
        margin: 0;
        padding: 0;  
        z-index: 9999;
        display: none;
    }
    
    .main-navigation ul {
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        border: 2px solid transparent;
        height: calc(100vh - 38px);
        overflow-y: scroll;
        overflow-x: hidden;     
    }
    
    .main-navigation li {
        width: 33.3333%;
        height: 33vw;
        border: 2px solid rgba(153, 153, 153, 0.6);
        animation-name: menu-entry;
        animation-duration: 0.2s;
    }
    
    @keyframes menu-entry {
        from {
            transform: scale(0);
        }
        to {
            transform: scale(1);
        }
    }
    
    .main-navigation li a {
        width: 100%;
        font-size: 1em;
        width: 100%;
        line-height: 30px;
        padding-top: 25%;
        background-color: rgba(255,255,255,0.95);
        color: $color_font-nav-hover;
    }
    
    .main-navigation li a svg {
        font-size: 2.5em;
    }
    
    .mobile-menu-open {
        display: block;
    }
    
    .mobile-menu-closed {
        display: none;
    }
    
    .menu-item a:focus {
        background-color: white;
        color: black;
    }
    
    .main-navigation li:hover {
        background-color: transparent;
        transition: 0.2s;
    }
    
    @media screen and (max-height: 500px) {
        .main-navigation li {
            width: 25%;
            height: 25vw;
        }
    }
}