.site-header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
    background-color: $color_header-main-nav-background-hov;
    border-bottom: 2px solid $color_header-main-nav-border;
}

.nav_wrap {
    max-width: 1600px;
    margin: 0 auto;
}

.main-navigation {
    display: flex;
    justify-content: space-between;
    height: 100%;
    padding: 0 5px;
    line-height: 1em;
}

.nav_branding {
    text-align: center;
    font-family: $font_logo;
    line-height: 0.8em;
    padding-top: 5px;
    
}

.nav_branding span {
    color: $color_font-logo;
}

.nav_branding span:nth-of-type(2) {
    font-size: 0.85em;
}

.main-navigation li {
    text-align: center;
    height: 100%;
    transition: 0.2s;
    margin: 0 2px;
    padding: 0 3px;
    min-width: 60px;
}

.main-navigation li a {
    color: $color_font-nav;
    font-family: $font_heading;
    height: 100%;
    padding: 3px 2px;
    font-size: 0.9em;    
}

.main-navigation li:hover a {
    color: $color_font-nav-hover;
    transition: 0.2s;
}

.main-navigation li:hover {
//    background-color: rgba(153, 153, 153, 0.6);
    background-color: $color_header-main-nav-link-background-hover;
    transition: 0.2s;
//    padding-top: 3vh;
//    font-size: 1.1em;
}

.main-navigation svg {
    transition: 0.2s;
}

.main-navigation li:hover svg,
.main-navigation li:active svg {
    color: $color_font-nav-hover;
    padding-top: 0px;
    transition: 0.2s;
    transform: rotate(360deg);
}

//.main-navigation li:hover #envelope,
//.main-navigation li:active #envelope {
//    transform: rotate(360deg);
//}

.main-navigation li:hover #wrench,
.main-navigation li:active #wrench {
    transform: rotate(270deg) scaleX(-1);
    
}

.main-navigation li:hover #fighterjet,
.main-navigation li:active #fighterjet {
    transform: rotate(270deg);
}

@media screen and (max-width: 825px) {
    .main-navigation li {
        margin: 0;
        padding: 0;
    }
}

@media screen and (max-width: 750px) {
    .menu-toggle {
        display: block;
        height: 38px;
        padding: 0 12px;
        background-color: transparent;
        border: none;
        border-radius: 0px;
        color: $color_font-nav;
        font-family: $font_logo;
        transition: 0.2s;
    }
    
    .menu-toggle:hover,
    .menu-toggle:active {
        color: $color_font-nav-hover;;
        background-color: $color_header-main-nav-link-background-hover;
    }
    
    .menu-toggled {
        color: $color_font-nav-hover;;
        background-color: $color_header-main-nav-link-background-hover;
        transition: 0.2s;
    }
    
    .menu-toggle svg {
        font-size: 2em;
    }
    
    .menu-main-navigation-container {
        display: none;
    }
    
    .mobile-menu-open {
        
    }
}