#project_header_info_box #project_info_box_span {
    bottom: 12.5em;
}

.project_section {
    background-color: #EBEBEB;
    padding-bottom: 10px;
}

#project_section .detail_value {
    padding: 15px 10px;
}

#project_wrapper {
    padding: 20px 10px 1px;
}

#overview .detail_title {
    margin-top: 0;
    border: none;
}

.project_post {
    margin: 10px 0;
    border: none;
    background-color: white;
}

.project_post_title {
    position: relative;
    margin-top: 0;
    border-top: none;
    background-color: #5E5E5E;
    color: #EBEBEB;
    line-height: 4rem;
}

.project_post_title p {
    font-size: 1.5em;
    margin: 0;
}

.project_post_text {
    position: relative;
    padding-top: 135px;
    background-color: white;
}

.project_post_text h3 {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    margin: 10px 0 0 0;
    font-family: Jura;
    font-size: 2em;
    font-weight: 900;
    background-color: white;
    color: $color_font-nav-hover;
}

@media screen and (max-height: 500px) {
    #project_header_info_box #project_info_box_span {
    bottom: 5.5em;
    }
    
    #project_header_info_box #aircraft_sorting a {
        max-width: 165px;
    }
    
    @media screen and (min-width: 750px) {
        #aircraft_sorting {
            bottom: 2em;
        }
    }
}

@media screen and (min-width: 750px) {
    #project_header_info_box #aircraft_sorting {
        max-width: 700px;
    }
    
    
    #project_header_info_box #aircraft_sorting a {
        max-width: 200px;
    }
}

@media screen and (min-width: 900px) {
    #project_header_info_box #aircraft_sorting a {
        max-width: 260px;
    }
    
    #project_header_info_box #project_info_box_span {
        bottom: 31vh
    }
    
    .project_section {
        background-color: #151515;
    }
    
    #project_gallery_title {
        font-size: 3.4rem;
    }
    
    #project_section .detail_value {
        padding: 15px 20px;
    }
    
    #overview .detail_value {
        padding: 50px 20px;
    }
    
    #project_wrapper {
        padding: 0 20px;
    }
    
    .project_post {
        min-height: 550px;
        background-color: #EBEBEB;
    }
    
    .project_post_title {
        background-color: #5E5E5E;
        color: #868686;
        line-height: 1em;
    }
    
    .project_post_title p {
        position: absolute;
        top: 255px;
        left: -160px;
        min-width: 550px;
        margin: 0;
        transform: rotate(-90deg);
        font-size: 3em;
    }
    
    #project_section .project_post_text {
        background-color: #EBEBEB;
        padding-top: 150px;
    }
    
    .project_post_text h3 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 135px;
        margin: 0;
        padding-left: 20px;
        font-size: 2em;
        font-weight: 900;
        line-height: 135px;
    }
    
}