#project_wrapper .detail_item {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 25px;
    border: none;
    background-color: white;
}

#project_wrapper .detail_item:last-of-type {
    margin-bottom: 50px;
}

#project_wrapper .detail_title {
    width: 100%;
    padding: 3px 0 3px 15px;
    font-size: 1.5rem;
    line-height: 1.5;
    text-align: center;
}

#project_wrapper .detail_value {
    padding: 30px 50px;
    background-color: white;
    font-size: $font_text_size_desktop;
}

.project_post .article_title {
    font-size: 1.5rem;
}




    #project_sidebar_wrapper .spec_item {
        background-color: white;
    }
    
    #project_sidebar_wrapper .spec_title {
        font-family: $font_heading;
        margin-left: 0;
        padding: 5px 0 5px 8px;
        width: 160px;
        background-color: $color_medium-backgrounds;
        font-size: $font_text_size_desktop;
        border-top: 2px solid #EBEBEB;
    }
    
    #project_sidebar_wrapper .spec_value {
        width: calc(100% - 160px);
        border-top: 2px solid $color_medium-backgrounds;
        padding-left: 15px;
        font-size: $font_text_size_desktop;
    }

    #project_sidebar_wrapper .detail_item {
        flex-wrap: wrap;
    }
    
    #project_sidebar_wrapper .detail_title {
        flex: none;
        width: 100%;
        padding-left: 15px;       
        margin-top: -2px;
        line-height: 2rem;
        background-color: $color_medium-backgrounds;
        border-top: 2px solid #EBEBEB;
        font-size: $font_text_size_desktop;        
    } 
    
    #project_sidebar_wrapper .detail_value {
        padding: 15px 20px;
        width: 100%;
        font-size: $font_text_size_desktop;
        background-color: white;
    }

/////Old Styles //////

#project_header_info_box #project_info_box_span {
    bottom: 12.5em;
}

//.project_section {
//    background-color: #EBEBEB;
//    padding-bottom: 10px;
//}

//#project_section .detail_value {
//    padding: 15px 10px;
//}

//#project_wrapper {
//    padding: 20px 10px 1px;
//}

//#overview .detail_title {
//    margin-top: 0;
//    border: none;
//}

.project_post {
    margin: 10px 0;
    border: none;
    background-color: white;
}

.project_post_title {
    position: relative;
    margin-top: 0;
    border-top: none;
    background-color: $color_dark-backgrounds;
    color: #EBEBEB;
    line-height: 4rem;
}

.project_post_title p {
    font-size: 1.5em;
    margin: 0;
}

.project_post_text {
    position: relative;
    padding-top: 135px;
    background-color: white;
}

.project_post_text h3 {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    margin: 10px 0 0 0;
    font-family: Jura;
    font-size: 2em;
    font-weight: 900;
    background-color: white;
    color: $color_font-nav-hover;
}

@media screen and (max-height: 500px) {
    #project_header_info_box #project_info_box_span {
    bottom: 5.5em;
    }
    
    #project_header_info_box #aircraft_sorting a {
        max-width: 165px;
    }
    
    @media screen and (min-width: 750px) {
        #aircraft_sorting {
            bottom: 2em;
        }
    }
}

@media screen and (min-width: 750px) {
    #project_header_info_box #aircraft_sorting {
        max-width: 700px;
    }
    
    
    #project_header_info_box #aircraft_sorting a {
        max-width: 200px;
    }
}

@media screen and (min-width: 900px) {
    #project_header_info_box #aircraft_sorting a {
        max-width: 260px;
    }
    
    #project_header_info_box #project_info_box_span {
        bottom: 31vh
    }
    
//    .project_section {
//        background-color: #151515;
//    }
    
    #project_gallery_title {
        font-size: 3.4rem;
    }
    
//    #project_section .detail_value {
//        padding: 15px 20px;
//    }
    
//    #overview .detail_value {
//        padding: 50px 20px;
//    }
    
//    #project_wrapper {
//        padding: 0 20px;
//    }
    
    .project_post {
        min-height: 550px;
        background-color: #EBEBEB;
    }
    
    .project_post_title {
        background-color: $color_dark-backgrounds;
        color: #868686;
        line-height: 1em;
    }
    
    .project_post_title p {
        position: absolute;
        top: 255px;
        left: -160px;
        min-width: 550px;
        margin: 0;
        transform: rotate(-90deg);
        font-size: 3em;
    }
    
    #project_section .project_post_text {
        background-color: #EBEBEB;
        padding-top: 150px;
    }
    
    .project_post_text h3 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 135px;
        margin: 0;
        padding-left: 20px;
        font-size: 2em;
        font-weight: 900;
        line-height: 135px;
    }
    

    
}

@media screen and (min-width: 960px) {
    
    #project_sidebar_wrapper .spec_item {
        background-color: white;
    }
    
    #project_sidebar_wrapper .spec_title {
        font-family: $font_heading;
        margin-left: 0;
        padding: 5px 0 5px 8px;
        width: 160px;
        background-color: $color_medium-backgrounds;
        font-size: $font_text_size_desktop;
        border-top: 2px solid #EBEBEB;
    }
    
    #project_sidebar_wrapper .spec_value {
        width: calc(100% - 160px);
        border-top: 2px solid $color_medium-backgrounds;
        padding-left: 15px;
        font-size: $font_text_size_desktop;
    }

    #project_sidebar_wrapper .detail_item {
        flex-wrap: wrap;
    }
    
    #project_sidebar_wrapper .detail_title {
        flex: none;
        width: 100%;
        padding-left: 15px;       
        margin-top: -2px;
        line-height: 2rem;
        background-color: $color_medium-backgrounds;
        border-top: 2px solid #EBEBEB;
        font-size: $font_text_size_desktop;        
    } 
    
    #project_sidebar_wrapper .detail_value {
        padding: 15px 20px;
        width: 100%;
        font-size: $font_text_size_desktop;
        background-color: white;
    }

}