/////Heading Section/////

#featured_slider {
    margin: 0;
    padding-top: 40px;
    border-radius: 0px;
    background: black;
    height: 60vh;
}

#featured_slider_overlay {
    z-index: 1;
}

#featured_slider .flex-control-nav,
#featured_slider .flex-direction-nav {
    display: none;
}

#featured_slider img {
    object-fit: cover;
    object-position: center;
    height: 60vh;
}

.aircraft_page_nav {
    background-color: black;
    height: 150px;
}

#aircraft_page_header {
    height: 100vh;
    max-height: 100vh;
}

#aircraft_page_header h1 {
    top: 2em;
    font-size: 1.7em;
    padding: 0 20px;
}

.header_info_box {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 2; 
}

#aircraft_page_header span {
    bottom: 10.5em;
    font-family: $font_text;
    font-weight: 500;
    color: white;
    z-index: 2;
    font-size: 1.2em;
    margin: 0;
    padding: 0 30px;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
}

#aircraft_page_header p {
    margin-bottom: 0;
}

#aircraft_page_header .special_info {
    margin: 0 auto;
    margin-top: 13px;
    max-width: 350px;
    font-size: 0.7em;
}

#aircraft_sorting {
    bottom: 1.5em;
    padding: 0 50px;
}

#aircraft_sorting a {
    padding: 0;
    margin-bottom: 15px;
    width: 100%;
    max-width: 260px;
}

///Heading Section Media Queries (non-grid browsers)///

@media screen and (max-height: 500px) {
    
    #featured_slider {
        padding-top: 0;
        height: 100vh;
    }
    
    #featured_slider img {
        height: 100vh;
    }

    #featured_slider_overlay {
        display: none;
    }
    
    #aircraft_page_header span {
        bottom: 5.5em;
    }
    
    #aircraft_sorting {
        display: flex;
        justify-content: space-between;
        bottom: 1em;
        margin: 0 auto;
        padding: 0 15px;
        max-width: 600px;
    }
    
    #aircraft_sorting a {
        max-width: 230px;
    }
    
}

@media screen and (min-width: 750px) {
   
    #featured_slider {
        padding-top: 0;
        min-height: 80vh;
        height: 80vw;
        max-height: 100vh;
    }
    
    #featured_slider img {
        min-height: 80vh;
        height: 80vw;
        max-height: 100vh;
    }
    
    #aircraft_page_header h1 {
        top: 13vw;
        font-size: 2.5em;
    }
    
    #aircraft_sorting {
        display: flex;
        justify-content: space-between;
        bottom: 3em;
        margin: 0 auto;
        padding: 0 15px;
        max-width: 600px;
    }
    
    #aircraft_page_header p {
        font-weight: 600;
    }
    
    #aircraft_page_header .special_info {
        font-weight: 500;
        font-size: 0.9em;
        margin-top: 40px;
    }
    
    #aircraft_sorting a {
        max-width: 230px;
    }
}

@media screen and (min-width: 900px) {
    #featured_slider_overlay {
        display: none;
    }
    
    #featured_slider {
        padding-top: 0;
        height: 100vh;
    }
    
    #featured_slider img {
        height: 100vh;
    }
    
    #aircraft_page_header h1 {
        top: 3.7em;
        font-size: 3em;
    }
    
    .header_info_box {
        background-color: rgba(0,0,0,0.4);
        height: 85vh;
        margin-left: 20px;
        width: calc(50% - 20px);
    }
    
    #aircraft_page_header span {
        bottom: 31vh;
    }
    
    #aircraft_page_header p {
        font-size: 1.2em;
    }
    
    #aircraft_sorting {
        display: list-item;
        bottom: 2vh;
    }
    
    #aircraft_sorting a {
        max-width: 260px;
        margin-bottom: 25px;
    }
}

////Image Sliders////


#exterior_slider,
#interior_slider,
#gallery_slider {
    margin-bottom: 0;
    background-color: black;
}

#exterior_slider .gallery_slides img,
#interior_slider .gallery_slides img,
#gallery_slider .gallery_slides img{
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 60vw;
}

#gallery_slider .flex-control-thumbs {
    overflow: auto;
    max-height: 33vw;
}

#exterior_slider .flex-control-thumbs,
#interior_slider .flex-control-thumbs,
#gallery_slider .flex-control-thumbs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1px 1px 1px;
    margin: 0;
}

#exterior_slider .flex-control-thumbs,
#interior_slider .flex-control-thumbs {
    padding: 1px 1px 1px 0;
    margin-left: -1px;
    width: calc(100% + 3px);
}

#gallery_slider .flex-control-thumbs li {
    width: calc(33.33333333% - 2px);
    margin: 1px;
}

#exterior_slider .flex-control-thumbs li,
#interior_slider .flex-control-thumbs li {
    width: calc(25% - 2px);
    margin: 1px;
}

#gallery_slider .flex-control-thumbs img {
    height: calc(26vw - 20px);
    object-fit: cover;
    object-position: center;
}

#exterior_slider .flex-control-thumbs img,
#interior_slider .flex-control-thumbs img{
    height: calc(25vw - 20px);
    object-fit: cover;
    object-position: center;
}

#exterior_slider .flex-direction-nav a,
#interior_slider .flex-direction-nav a,
#gallery_slider .flex-direction-nav a {
    top: 30vw;
}

.flex-direction-nav a::before {
    font-family: fontAwesome;
    content: '\f0d9';
    font-size: 38px;
}

.flex-direction-nav a.flex-next::before {
    content: '\f0da'
}

.flex-direction-nav a:active,
.flex-direction-nav a:focus {
    outline: none;
}


@media screen and (min-width: 520px) {
    #gallery_slider .flex-control-thumbs li {
        width: calc(25% - 2px);
        margin: 1px;
    }
    
    #gallery_slider .flex-control-thumbs img {
        height: calc(17vw - 20px);
    }    
}

@media screen and (max-height: 500px) {
    #gallery_slider .gallery_slides img {
        max-height: 100vh;
    }

    #gallery_slider .flex-control-thumbs {
        max-height: 22vw;
    }    
    
    #gallery_slider .flex-control-thumbs li {
        width: calc(25% - 2px);
        margin: 1px;
    }
}

@media screen and (min-width: 900px) {
    #gallery_slider {
        display: flex;
        padding: 2px 1px 2px 2px;
    }
    
    #gallery_slider .gallery_slides {
        width: 70vw;
    }
    
    #gallery_slider .gallery_slides img {
        height: 44vw;
//        max-height: 60vh;
    }
    
    #gallery_slider .flex-control-thumbs {
        display: unset;
        width: 30vw;
        max-height: 44vw;
        padding-top: 0;
    }
    
    #gallery_slider .flex-control-thumbs li {
        width: calc(50% - 2px);
        height: calc(13vw - 20px);
    }
    
    #gallery_slider .flex-control-thumbs li:first-of-type,
    #gallery_slider .flex-control-thumbs li:nth-of-type(2) {
        margin-top: 0;
    }
    
    #gallery_slider .flex-control-thumbs img {
        height: calc(13vw - 20px);
    }
    
    #gallery_slider .flex-direction-nav a {
        top: 22vw;
    }
    
    #gallery_slider .flex-prev {
        left: -8px;
    }
    
    #gallery_slider:hover .flex-prev {
        left: 10px;
    }
    
    #gallery_slider .flex-next {
        right: calc(30vw - 8px);
    }
    
    #gallery_slider:hover .flex-next {
        right: calc(30vw + 10px);
    }
}

////Section Headings////

.aircraft_section_heading {
    padding: 17px 0;
    font-family: $font_heading;
    font-size: 1.2em;
    text-align: center;
//    background-color: $color_aircraft-section-title-background;
    color: $color_font_aircraft-section-title-h2;
    background-color:  rgba(0,0,0,0.05)
}

.aircraft_section_heading h2 {
    margin: 0;
    position: relative;
    z-index: 99;
}

.aircraft_section_line {
    display: block;
    border: none;
    color: #666;
    height: 2px;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 500, from($color_font-nav-hover), to(rgba(0, 0, 0, 0.2)));
    position: relative;
}

@media screen and (min-width: 900px) {
    .aircraft_section_heading {
        padding: 0;
        font-size: 3em;
        height: 125px;
    }
    
    .aircraft_section_heading h2 {
        margin-left: 20px;
        width: calc(50% - 20px);
        height: 100%;
        background-color: rgba(255,255,255,0.15);
    }
    
    .aircraft_section_line {
        height: 4px;
    }
}

#aircraft_wrapper {
    background-color: rgba(153, 153, 153, 0.2);
    position: relative;
    color: #666;
    padding: 20px 10px 1px;
}

////Gallery Section Styling////

#gallery {
    background-color: black;
}



#aircraft_info .content_wrapper {
    padding-bottom: 30px;
}

.specification_overlay {
    position: absolute;
    bottom: 0;
    left: -10px;
    right: 0;
    width: calc(58%);
    height: calc(100% + 60px);
    background-color: rgba(255, 255, 255, 0.7);
    margin: 0 10px;
}

.spec_item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #666;
    position: relative;
}

.spec_item:nth-child(even) {
    background-color: rgba(0,0,0,0.05);
}

.spec_value {
    margin: 0;
    padding: 0;
    width: 42%;
}

.detail_item {
    font-family: metrophobic;
    margin-bottom: 15px;
}

.detail_title {
    display: block;
    width: 100%;
    padding-left: 5px;
    background-color: rgba(0,0,0,0.05);   
}

.detail_value {
    margin: 0;
    padding: 15px 20px;
    background-color: rgba(255, 255, 255, 0.7);
}