#contact_page_header {
    background-image: url(images/contact_header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.contact_info ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.follow_us ul {
    margin: 0;
    padding: 0 10vw;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}

.follow_us li {
    display: inline-block;
}

.follow_us a {
    font-size: 2em;
    color: $color_font-nav;
}

.follow_us a:hover {
    background-color: $color_font-nav-hover;
}

.wpcf7-textarea,
.wpcf7-text {
    max-width: 100%;
}
