$image_news_default: "images/news_large.jpg";
$image_news_medium: "images/news_medium.jpg";
$image_news_small: "images/news_medium.jpg";

$image_inventory_default: "images/inventory_large.jpg";
$image_inventory_medium: "images/inventory_medium.jpg";
$image_inventory_small: "images/inventory_small.jpg";

$image_project_default: "images/projects_large.jpg";
$image_project_medium: "images/projects_medium.jpg";
$image_project_small: "images/projects_small.jpg";